.fixed {position: fixed !important;
position: center !important;

}

 .clicker {
        -webkit-transition: color 0.5s !important; 
        -o-transition: color 0.5s !important;
        transition: color 0.5s !important; /* For modern browsers */
    }
    .clicker:hover {
        color: #999999 !important;
    }

